.table-filter-input {
  background: white !important;

  border: 1px solid #e7e7e7 !important;
  border-radius: 2px !important;

  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  line-height: 19px !important;

  color: #131340 !important;
}

.table-filter-input::placeholder {
  color: #c7c8cd !important;
  font-size: 16px !important;
  font-weight: 500 !important;

  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  overflow: hidden !important;
}
