@import './variables.scss';

body {
  overflow: auto;
}

.app {
  display: flex;

  width: 100vw;
  height: 100vh;

  color: var(--chakra-colors-black);
  background-color: var(--chakra-colors-gray_1);

  font-family: -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'pnum' on, 'lnum' on;
}

.app-container {
  display: flex;
  flex-direction: column;

  height: 100%;
  width: 100%;
  align-items: center;

  overflow-x: hidden;
  overflow-y: scroll;
}

.page-container {
  position: relative;

  display: flex;
  flex-shrink: 1;
  flex-grow: 1;

  box-sizing: border-box;
  width: 100%;

  justify-content: center;
  max-width: 1740px;
}

ol,
ul {
  padding: 20px;
}

@keyframes spin {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(30px);
  }

  100% {
    transform: translateY(0px);
  }
}

.chakra-modal__overlay {
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

/** Form */

.form-label {
  gap: 4px;
  display: flex !important;
  font-weight: bold !important;
  font-size: 13px !important;
  line-height: 15px !important;

  margin-bottom: 10px;
}

/** Custom Scrollbar */

/* width */
::-webkit-scrollbar {
  right: 0;
  top: 0;
  bottom: 0;
  width: 6px;
  padding: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: rgba(128, 128, 128, 0.2);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(128, 128, 128, 0.3);
}
