.nameGradient {
  background: linear-gradient(45deg, #1DEE8A 0%, #3544E8 100%);
  background-size: 120%;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}