.PhoneInput {
  width: 100%;
  height: 40px;
  background-color: var(--chakra-colors-gray_2);
  padding: 0px 12px;
  border-radius: 8px;

  border: 1px solid var(--chakra-colors-gray_3);
}

.PhoneInputInput {
  background-color: var(--chakra-colors_2);
  font-size: 16px;
  font-weight: 500;
}

.PhoneInput--focus .PhoneInputInput {
  border: 1px solid var(--chakra-colors_2);
  outline: none;
}

.PhoneInput::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--chakra-colors-gray_4);
}

.PhoneInput:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--chakra-colors-gray_4);
}

.PhoneInput:-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--chakra-colors-gray_4);
}
